.formSize {
  width: 400px;
}

.registerScreen {
  width: 100vw;
  height: 100vh;
}

@media (max-width: 1400px) {
}

@media (min-width: 1200px) and (max-width: 1399px) {
}

@media (min-width: 991px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (max-width: 575px) {
  .formSize {
    width: 350px;
  }
}
